---
layout: layouts/home.njk
permalink: /aplikasi/
eleventyNavigation:
  key: Applikasi
  order: 2
title: Aplikasi program toko
---

<h3><a href="{{page.url}}">{{ title }}</a></h3>
{% set postslist = collections.posts %}
{% include "postslist.njk" %}
