<footer>copyrights <a href="{{metadata.url}}">{{metadata.title}}</a> built with <a href="https://11ty.dev">eleventy 11ty</a> codding on <a href="https://stackblitz.com/">stackblitz</a><br/>repo on <a href="https://github.com/mesinkasir/thisis-11ty">github</a> powered by <a href="https://cloudflare.com">cloudflare</a> <br/>develope by <a href="https://www.fiverr.com/creativitas/design-your-modern-website-using-jekyll">creativitas</a></footer></body></html>

